<form class="mt-4 p-6 space-y-3">

    <div class="flex flex-row justify-center items-center">
        <p class="key w-2/5"><span class="text-neutral-400 font-normal">Name:</span></p>
        <input class="w-3/5 hover:border-b-2 flex justify-between outline-none" type="text" name="name" [(ngModel)]="fullName">
    </div>

    <div class="flex flex-row justify-center items-center">
        <p class="key w-2/5"><span class="text-neutral-400 font-normal">Username:</span></p>
        <input class="w-3/5 hover:border-b-2 flex justify-between outline-none" type="text" name="userName" [(ngModel)]="userName">
    </div>

    <div class="flex flex-row justify-start items-center">
        <p class="key w-2/5"><span class="text-neutral-400 font-normal">City:</span></p>
        <input class="w-3/5 hover:border-b-2 flex justify-between outline-none" placeholder="Please enter your city..." name="city" [(ngModel)]="city">
    </div>

    <div class="flex flex-row justify-start items-center">
        <p class="key w-2/5"><span class="text-neutral-400 font-normal">Description:</span></p>
        <textarea class="w-3/5 hover:border-b-2 flex justify-between outline-none" placeholder="Say something about yourself..." name="description" [(ngModel)]="description"></textarea>
    </div>

    <div class="flex flex-row justify-start items-center">
        <p class="key w-2/5"><span class="text-neutral-400 font-normal">Joined:</span></p>
        <p class="font-medium w-3/5"> {{joined | date: "MMMM d, y"}}</p>
    </div>

</form>

<button class="flex justify-center items-center cursor-pointer mt-4 mx-auto" (click)="validateAndSave()">
    <p class="save py-1 px-2 rounded-md">Save</p>
</button>

<button class="sign-out flex flex-row w-full space-x-3 items-center justify-center cursor-pointer mt-4" (click)="logout()">
    <p>Sign out</p>
    <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
</button>
