<div class="mt-4 p-6 space-y-3">
    <p class="font-bold"><span class="text-neutral-400 font-normal">Name:</span> Anirud Shrestha</p>
    <p class="font-bold"><span class="text-neutral-400 font-normal">City:</span> Boise, Idaho</p>
    <p class="font-bold"><span class="text-neutral-400 font-normal">MyDay Posts:</span> 10</p>
    <p class="font-bold"><span class="text-neutral-400 font-normal">Journals:</span> 5</p>
    <p class="font-bold"><span class="text-neutral-400 font-normal">Description:</span> 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe facere blanditiis iusto expedita consequatur architecto inventore optio quisquam debitis nostrum!
    </p>
    <p class="font-bold"><span class="text-neutral-400 font-normal">Joined:</span> September 1, 2022</p>
</div>
