.logo-title{
    font-family: 'Dancing Script', cursive;
}
.links{
    font-family: 'Roboto', sans-serif;
}

.active{
    position: relative;
}

.active::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--cyan);
    animation: reveal .3s ease;
}

li{
    cursor: pointer;
    position: relative;
    font-size: 0.875rem;
}

li:hover::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--cyan);
    animation: reveal .3s ease;
}

.nav-burger{
    clip-path: circle(20px at right 24px);
    transition: .7s cubic-bezier(.85,.09,.14,1.42);
}

.nav-burger.show{
    clip-path: circle(100%);
}

.dot{
    pointer-events: none;
}

@keyframes reveal{
    0%{
        transform: translateX(-50%) scaleX(0);
    }
    100%{
        transform: translateX(-50%) scaleX(1);
    }
}