<div class="w-80 max-h-56 h-auto overflow-y-auto bg-slate-400 p-3 flex flex-col space-y-5 rounded-lg" *ngIf="newComment">
    <p *ngIf="comments.length === 0 || !comments" class="font-medium">No comments! Be the first one.</p>
    <div class="comment w-full my-2" *ngFor="let comment of comments">
        <div class="comment-header flex flex-row items-start">
            <div class="user">
                <fa-icon [icon]="faUserCircle" size="2xl"></fa-icon>
            </div>
            <div class="user-post ml-4 -mt-1 flex flex-col items-start w-full">
                <div class="post-detail">
                    <p class="font-bold text-sm">{{comment.firstName}} {{comment.lastName}}</p>
                    <p class="text-xs">{{comment.commentedOn | date: 'MMM d, y, h:mm a'}}</p>
                </div>
            </div>
        </div>
        <div class="comment-body w-full bg-slate-100 mt-2 rounded-md p-2">
            {{comment.commentBody}}
        </div>
    </div>
    <div class="send-msg w-full flex flex-row justify-center items-center" *ngIf="user">
        <textarea type="text" class=" w-full text-sm rounded-lg p-2 outline-none h-9 resize-none" placeholder="Appreciate..." [(ngModel)]="newComment.comment"></textarea>
        <fa-icon [icon]="faPaperPlane" size="lg" class="ml-1 cursor-pointer" (click)="sendComment()"></fa-icon>
    </div>
</div>
