<div class="info-section w-96 max-w-fit h-auto fixed right-10 bottom-10 p-6 pb-12 rounded-3xl flex items-center justify-center">
    <ng-container [ngSwitch]="activePage">
        <p class="text-white font-thin text-base" *ngSwitchCase="'/'">
            <span class="font-semibold block text-center mb-4 text-lg">What is MyDay?</span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod facilis rem vel enim, tempora repellendus provident quaerat dolorem beatae! Magni minus mollitia sit tenetur ducimus odit, maxime libero voluptatem blanditiis fugiat in ipsum eum optio, 
        </p>
        <button *ngSwitchCase="'/explore'" (click)="handleClick('myday')" class="p-4 rounded-md text-white">Share your Day <fa-icon [icon]="faPencil" size="lg" class="ml-4"></fa-icon></button>
        <button *ngSwitchCase="'/journals'" (click)="handleClick('journal')" class="p-4 rounded-md text-white">Write your Journal <fa-icon [icon]="faSun" size="lg" class="ml-4"></fa-icon></button>
        <p class="text-white font-thin text-base" *ngSwitchCase="'/support'">
            <span class="font-semibold block text-center mb-4 text-lg">Help the Developers?</span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod facilis rem vel enim, tempora repellendus provident quaerat dolorem beatae! Magni minus mollitia sit tenetur ducimus odit, maxime libero voluptatem blanditiis fugiat in ipsum eum optio, 
        </p>
    </ng-container>
</div>
<button *ngIf="activePage != '/profile'" class="rounded-full z-50 w-12 h-12 fixed flex justify-center items-center text-white right-10 bottom-10" (click)="toggleInfoSection()">
    <ng-container [ngSwitch]="activePage">
        <fa-icon [icon]="faQuestion" *ngSwitchCase="'/'"></fa-icon>
        <fa-icon [icon]="faPlus" *ngSwitchCase="'/explore'"></fa-icon>
        <fa-icon [icon]="faPlus" *ngSwitchCase="'/journals'"></fa-icon>
        <fa-icon [icon]="faQuestion" *ngSwitchCase="'/support'"></fa-icon>
    </ng-container>
</button>
