p{
    font-family: "Roboto", sans-serif;
}

.info-section{
    background-color: var(--cyan);
    clip-path: circle(5px at 100% 100%);
    transition: .3s cubic-bezier(.55,.55,.83,.82);
}

.info-section.normal{
    transition: none;
}

.info-section.reveal{
    clip-path: circle(100%);
}

button{
    background-color: var(--cyan);
    transition: .2s ease;
}

button:hover{
    background-color: var(--cyan-100);
}

.backdrop{
    display: none;
    background: rgba(0, 0, 0, 0);
}

.backdrop.reveal{
    display: block;
}