p{
    font-family: "Roboto", sans-serif;
}

.info-section{
    background-color: var(--cyan);
    clip-path: circle(5px at 100% 100%);
    transition: .7s cubic-bezier(.55,.55,.83,.82);
}

.info-section.reveal{
    clip-path: circle(100%);
}

button{
    background-color: var(--cyan);
    transition: .2s ease;
}

button:hover{
    background-color: var(--cyan-100);
}