.journal-type{
    font-family: 'Playfair Display', serif;
}

.comment-dialogue{
    clip-path: circle(0% at right bottom);
    transition: .8s cubic-bezier(.41,.96,1,1) all;
 }
 
 .comment-dialogue.reveal{
     clip-path: circle(100%);
 }
 
 .comment-dialogue.normal{
     transition: none;
 }
 
 .backdrop{
     display: none;
     background: rgba(0, 0, 0, 0);
 }
 
 .backdrop.reveal{
     display: block;
 }

 .down-arrow{
    color: var(--cyan);
    transition: .3s ease-in all;
}

.down-arrow.rotate{
    transform: rotate(180deg);
}

.dropdown{
    transform: translateY(-90px);
    opacity: 0;
    transition: .3s ease-in all;
}

.dropdown.reveal{
    transform: translateY(0px);
    opacity: 1;
}