:host ::ng-deep .ck-editor__editable_inline {
    min-height: 350px;
    height: auto;
    border-radius: 0 0 10px 10px !important;
}

:host ::ng-deep .ck.ck-toolbar{
    border-radius: 10px 10px 0 0 !important;
}

/* This fixes the negative margin for default styling of list. */
:host ::ng-deep li{
    list-style-position: inside;
}

:host ::ng-deep ol{
    list-style: decimal;
}

:host ::ng-deep ul{
    list-style: disc;
}


button{
    background-color: var(--cyan);
    font-family: "Roboto", sans-serif;
    transition: .2s ease;
}

button:hover{
    background-color: var(--cyan-100);
}

.down-arrow{
    color: var(--cyan);
    transition: .3s ease-in all;
}

.down-arrow.rotate{
    transform: rotate(180deg);
}

.dropdown{
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease-in all;
}

.dropdown.reveal{
    transform: translateY(0px);
    opacity: 1;
}