<div class="container mx-auto relative">
    <div class="sm:w-11/12 md:w-5/6 lg:w-4/5 w-full mx-auto p-6 flex flex-col justify-center items-center">
        <div class="overflow-hidden">
            <div (click)="toggleDropdown()" >
                <p class="z-40 cursor-pointer inline-block"> {{activeDropdownItem}}</p>
                <fa-icon [icon]="faChevronDown" class="down-arrow cursor-pointer ml-2 inline-block"></fa-icon>
            </div>

            <div class="dropdown z-10 w-auto border-2 flex items-center justify-center rounded-md">
                <p class="cursor-pointer text-sm" (click)="changeActiveDropdownItem()">
                   {{activeDropdownItem === "MyDay" ? "Journal" : "MyDay"}}
                </p>
            </div>
        </div>

        <ckeditor
            [editor]="Editor" 
            [config]="{
                placeholder: 'Quickly jot down your day and share it!'
            }"
            class=" w-full lg:w-3/5 mt-4"
            [(ngModel)]="editorContent"
        >
        </ckeditor>

        <button class="mt-6 text-white px-4 py-1 rounded-md" (click)="share()">
            Share <fa-icon [icon]="faPaperPlane" class="ml-2"></fa-icon>
        </button>
    </div>
</div>
