:host ::ng-deep .ck-editor__editable_inline {
    min-height: 350px;
    height: auto;
    border-radius: 0 0 10px 10px !important;
}

:host ::ng-deep .ck.ck-toolbar{
    border-radius: 10px 10px 0 0 !important;
}

button{
    background-color: var(--cyan);
    font-family: "Roboto", sans-serif;
    transition: .2s ease;
}

button:hover{
    background-color: var(--cyan-100);
}
