<nav class="sm:w-11/12 md:w-5/6 lg:w-4/5 w-full  mx-auto p-6 flex flex-row justify-around items-center">
    <div class="left-nav flex-1 relative sm:w-auto w-full">
        <div class="logo text-center sm:text-left cursor-pointer">
            <h1 routerLink="/" class="logo-title md:text-4xl sm:text-3xl text-2xl">myDay</h1>
        </div>
        <div class="nav-burger sm:hidden bg-black w-32 h-auto rounded-md absolute flex flex-col justify-center items-center -right-0 top-0 z-50">
            <div class="dots absolute flex flex-col justify-center items-center translate-y-1/2 right-0 space-y-1 top-0 cursor-pointer w-6 h-6" (click)="toggleNav($event)">
                <div class="dot bg-white rounded-full w-1 h-1"></div>
                <div class="dot bg-white rounded-full w-1 h-1"></div>
                <div class="dot bg-white rounded-full w-1 h-1"></div>
            </div>
            <div class="avatar sm:ml-14 lg:ml-28 mt-10" routerLink="/profile">
                <fa-icon [icon]="faUserCircle" size="2xl" class="cursor-pointer text-white"></fa-icon>
            </div>
            <ul class="burger-links flex flex-col justify-center items-center text-white space-y-10 my-10">
                <li [class]="activePage === '/' ? 'active' : ''" routerLink="/">Share</li>
                <li [class]="activePage === '/explore' ? 'active' : ''" routerLink="/explore">Explore</li>
                <li [class]="activePage === '/journals' ? 'active' : ''" routerLink="/journals">Journals</li>
                <li [class]="activePage === '/support' ? 'active' : ''" routerLink="/support">Support <span><fa-icon [icon]="faQuestionCircle" size="sm"></fa-icon></span></li>
            </ul>
        </div>
    </div>
    <div class="right-nav sm:flex items-center flex-2 hidden">
        <ul class="links flex flex-row justify-between lg:space-x-20 md:space-x-16 sm:space-x-10 space-x-10">
            <li [class]="activePage === '/' ? 'active' : ''" routerLink="/">Share</li>
            <li [class]="activePage === '/explore' ? 'active' : ''" routerLink="/explore">Explore</li>
            <li [class]="activePage === '/journals' ? 'active' : ''" routerLink="/journals">Journals</li>
            <li [class]="activePage === '/support' ? 'active' : ''" routerLink="/support">Support <span><fa-icon [icon]="faQuestionCircle" size="sm"></fa-icon></span></li>
        </ul>
        <div class="avatar sm:ml-14 lg:ml-28" routerLink="/profile" (click)="checkUser()">
            <fa-icon [icon]="faUserCircle" size="2xl" class="cursor-pointer"></fa-icon>
        </div>
    </div>
</nav>
