<div class="w-1/2 h-96 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-slate-50 rounded-2xl">
    <div class="header bg-slate-200 py-3 px-4 rounded-t-2xl flex items-center justify-between">
        <h2 class="font-semibold">Upload your Profile Picture</h2>
        <div class="h-8 w-8 rounded-full hover:bg-slate-400 cursor-pointer flex justify-center items-center" (click)="handleCloseModal()">
            <fa-icon [icon]="faTimes" class="text-lg"></fa-icon>
        </div>
    </div>

</div>
