li{
    display: inline-block;
    padding: 16px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.active{
    color: var(--cyan);
    border-bottom: 2px solid var(--cyan);
}

.img-overlay{
    background: rgba(255, 255, 255, 0);
    transition: .3s ease all;
}

.img-overlay:hover{
    background: rgba(255, 255, 255, 0.2);
}

.edit-photo-btn{
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
}

.img-overlay:hover > .edit-photo-btn{
    background: rgba(0, 0, 0, 1);
}