<app-comment-dialogue class="comment-dialogue absolute right-6 bottom-14 z-50" [post]="post"></app-comment-dialogue>
<div class="reactions absolute flex flex-row justify-around items-center bottom-6 right-6 w-32 h-7 bg-slate-500 rounded-md z-40">
    <button [class]="(isLoggedIn ? 'cursor-pointer' : 'cursor-not-allowed') + ' text-center border-r-2 w-1/2'" (click)="handleLikePost(post)">
        <span class="font-medium text-white mr-2">{{post.likes}}</span> <fa-icon [icon]="faHeart" [class]="isPostLiked ? 'text-white' : 'text-black'"></fa-icon>
    </button>
    <button class="text-center w-1/2 cursor-pointer" (click)="popCommentDialogue($event)">
        <fa-icon [icon]="faComment" class="pointer-events-none"></fa-icon>
    </button>
</div>
<div class="backdrop w-screen h-screen fixed top-0 left-0 right-0 bottom-0 z-20"></div>
