<div class="sm:w-11/12 md:w-10/12 lg:w-full w-full mx-auto flex flex-col justify-center items-center mt-4">
    <div class="container flex flex-col items-center justify-center mb-8" *ngFor="let post of posts">
        <div class="user flex items-center">
            <fa-icon [icon]="faUserCircle" size="2xl"></fa-icon>
            <div class="post-detail ml-4">
                <p class="font-bold">{{post.firstName}} {{post.lastName}}</p>
                <p class="text-xs">{{post.postedOn | date: 'MMM d, y, h:mm a'}}</p>
            </div>
        </div>
        <div class="user-post ml-4 mt-4 flex flex-col items-center w-full">
            <h1 class="journal-type text-2xl italic font-thin">I'm grateful for,</h1>
            <div class="post w-full p-6 pb-16 mt-4 bg-slate-200 relative rounded-lg">
                <app-reactions [post]="post"></app-reactions>
                <p class="post-content" [innerHTML]="post.body"></p>
            </div>
        </div>
    </div>
</div>
